.inputbtn{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 460px;
    border-right: none;
}

.inputbtn:focus{
    border-right: none;
}


.submitbtn{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #303B43;
    width: 100px;
}


.img{
    max-width: 450px ;
    max-height:450px ;
}

.form{
    margin-top: 50px;
}