/* You can add global styles to this file, and also import other style files */

body{
    margin: 0px;
    background: linear-gradient(to bottom right, #303B43, #07090C);

}




.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
